# Dependencias de node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build de producción
/frontend/build
/backend/dist

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Database
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
